body {
    font-family: roboto, sans-serif;
    margin: 0px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    padding: 15px 210px;
}

.links {
    flex: 1;
    justify-content: center;
    display: flex;
    list-style: none;  
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}


.top {
    padding-bottom : 60px;
}

.top, .footer {
    background: #1F2937;
}

.logo {
  flex: 1; 
}

.hero_image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 210px 0px;
}

.hero {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero_sec {
    margin-top: 8px;
    margin-bottom: 15px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding : 7px 30px;
}

.header_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}


.hero_sec, .links, .header_img, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0px 90px 0px;
    padding: 0px 210px;
}

.information {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
    flex: 1;
}

.cards {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #1F2937;
   
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
}

.card img {
    border : 5px solid #3882F6;
    border-radius: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    background-color: #E5E7EB;
    padding: 60px 300px;
}

.quote .signature {
    font-size: 24px;
    font-weight: 900;
    text-align: end;
    margin-top: 10px;
    padding-right: 20px;
}

.action {
    display: flex;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 20px 60px;
    margin: 60px 210px;
    justify-content: space-evenly;
    align-items: center;
}
 
.action button {
    border: 2px solid #F9FAF8;
}

.call {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 5px;
}