body {
    font-family: roboto, sans-serif;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px 150px;
}

.links {
    display: flex;
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0px 5px;
}

.top {
    padding-bottom : 110px;
}

.top, .footer {
    background: #1F2937;
}

.logo {
   font-size: 24px;
   color: #F9FAF8; 
}

.hero_image {
    display: flex;
    justify-content: center; /* pas sûre */
    margin: 95px 150px 0px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero_main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_sec, .links, .header_img, .footer {
    font-size: 18px;
    color: #E5E7EB;
}